include:
  - .gitlab/ci/*.gitlab-ci.yml

stages:
  - build
  - migrate
  - deploy
  - rollback

build-dev:
  stage: build
  extends: .build_template
  variables:
    ENV_TAG: dev
    DOCKERFILE: Dockerfile
  only:
    - dev

# build-staging:
#   stage: build
#   extends: .build_template
#   variables:
#     ENV_TAG: test
#     DOCKERFILE: Dockerfile
#   only:
#     - staging

build-prod:
  stage: build
  extends: .build_template
  variables:
    ENV_TAG: latest
    DOCKERFILE: Dockerfile
  only:
    - master

migrate-dev:
  stage: migrate
  extends: .migrate_template
  variables:
    PATH_MIGRATION: migrations/postgres
    POSTGRES_LINK: $UCODE_OBJECT_BUILDER_SERVICE_DEVDB
  only:
    - dev

# migrate-staging:
#   stage: migrate
#   extends: .migrate_template
#   variables:
#     PATH_MIGRATION: migrations/postgres
#     POSTGRES_LINK: $UCODE_OBJECT_BUILDER_SERVICE_TESTDB
#   only:
#     - staging

migrate-prod:
  stage: migrate
  extends: .migrate_template
  variables:
    PATH_MIGRATION: migrations/postgres
    POSTGRES_LINK: $UCODE_OBJECT_BUILDER_SERVICE_PRODDB
  only:
    - master

deploy-dev:
  stage: deploy
  extends: .deploy_template
  variables:
    NAMESPACE: ucode-dev
    VALUES_FILE: .helm/values-dev.yml
    K8SCONFIGJSON: $UCODE_HZN_KUBECONFIG
  only:
    - dev

# deploy-staging:
#   stage: deploy
#   extends: .deploy_template
#   variables:
#     NAMESPACE: ucode-test
#     VALUES_FILE: .helm/values-test.yml
#     K8SCONFIGJSON: $UCODE_HZN_KUBECONFIG
#   only:
#     - staging

deploy-prod:
  stage: deploy
  extends: .deploy_template
  variables:
    NAMESPACE: ucode-prod
    VALUES_FILE: .helm/values-prod.yml
    K8SCONFIGJSON: $UCODE_KUBECONFIG
  only:
    - master


# rollback-staging:
#   stage: rollback
#   extends: .rollback_template
#   variables:
#     NAMESPACE: ucode-test
#     K8SCONFIGJSON: $UCODE_HZN_KUBECONFIG
#   when: manual

rollback-dev:
  stage: rollback
  extends: .rollback_template
  variables:
    NAMESPACE: ucode-dev
    K8SCONFIGJSON: $UCODE_HZN_KUBECONFIG
  when: manual

rollback-prod:
  stage: rollback
  extends: .rollback_template
  variables:
    NAMESPACE: ucode-prod
    K8SCONFIGJSON: $UCODE_KUBECONFIG
  when: manual

