name: Publish to Image Registry

on:
  push:

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Login and Publish Docker Image
        run: |
          docker login --username ${{ secrets.DOCKER_USERNAME }} --password ${{ secrets.DOCKER_PASSWORD }} ${{ secrets.DOCKER_REGISTRY }}
          IMAGE_TAG=${{ secrets.DOCKER_REGISTRY }}/ucode-io/go-object-builder:latest
          docker build . --tag $IMAGE_TAG
          docker push $IMAGE_TAG
