name: Publish to GHCR

on:
  push:

permissions:
  contents: read
  packages: write

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Show GitHub context
        run: |
          echo "github.actor=${{ github.actor }}"
          echo "github.repository_owner=${{ github.repository_owner }}"

      - name: Login to GHCR
        run: echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin

      - name: Build and push (go-object-builder)
        env:
          OWNER: ${{ github.repository_owner }}
        run: |
          OWNER_LC="${OWNER,,}"
          IMAGE="ghcr.io/${OWNER_LC}/go-object-builder"

          echo "Using image: $IMAGE:latest"

          docker build . --tag "$IMAGE:latest"
          docker push "$IMAGE:latest"
